.empty-cart {
    width: 128px;
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.empty-cart-text {
    text-align: center;
}

.increase-button {
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    margin-top: 0px;
}

.decrease-button {
    border-radius: 5px 0px 0px 5px;
    height: 30px;
    margin-top: 0px;
}

.product-quantity-input {
    width: 25px;
    height: 30px;
    margin-top: 0px;
    border: none;
}

td {
    vertical-align: middle !important;
}

th {
    text-align: center !important;
}

tr {
    text-align: center !important;
}